<h1 class="mt-5 mb-4">Products</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(product=> { %>
            <tr>
                <th scope="row">
                    <%= product.id %>
                </th>
                <td>
                    <%= product.name %>
                </td>
                <td>
                    <%= product.desc %>
                </td>
                <td><%= product.price %>
                </td>
                <td>
                    <img src="<%= product.imageUrl %>" alt="<%= product.name %>" style="max-width: 100px;">
                </td>
                <td>
                    <a href="/update-product/<%= product.id %>" class="btn btn-warning">Update</a>
                    <!-- Currently clicking on it : gives Product not found according to Controller -->
                     <!-- We want to pass the id of the product in the url to retrive
                        Since here we are redirecting on clicking the button Update:
                                 <a href="/update-product" class="btn btn-warning">Update</a>
                        Passing the url parameter and extract the value in server code:
                        Using embedded Javascript. :  href="/update-product/<%= product.id %>
                     -->
                     <a href="/delete-product/<%= product.id %>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>
</div>